APP_NAME="The Family of Muhammad Rizki"
GOOGLE_WORKSPACE_OWNER="mrizki.markazdigital@gmail.com"
GOOGLE_APPS_SCRIPT_URL=""
GOOGLE_CLIENT_ID=""
GOOGLE_SPREADSHEET_ID=""
GOOGLE_DRIVE_REPORT_FOLDER_ID=""
FAMILY_ID="family_muhammad_rizki"
